/.vscode
/ANDsum.cpp
/ANDsum.exe
/Discount.cpp
/Discount.exe
/FastModularExponentiation.cpp
/FastModularExponentiation.exe
/FerrisWheel.cpp
/FerrisWheel.exe
/FindTwoUnique.cpp
/FindTwoUnique.exe
/Friend.cpp
/heap.cpp
/heap.exe
/hello.c
/hello.exe
/pref.cpp
/pref.exe
/primes.cpp
/Reorder
/SpecialBitNum.cpp
/SpecialBitNum.exe
/tempCodeRunnerFile.cpp
/Tree
/undraw_book_lover_mkck 1Sample.svg
/w[i]
/x